

/*.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows:50px 100px 50px 100px 100px;
}
    section .grid-item-1 {
    display: flex;
    grid-column: 1 /span 3;
    grid-row: 1  ;
    
    margin-left: 10px;
}*/

/*div.container {
    background-color:white;
}*/
.col-7.locationscolodd {
    text-align: center;
    font-family: cursive;
    color: #415466;
}

/*.col-5.locationscolodd {
    background-image: url('images/Susan London Headshot rev.jpg');
    border-radius: 25px;
    background-repeat: no-repeat;
    max-height: 150px;
    max-width: 150px;
}*/


img {
    border-radius: 50%;
    display: flex;
    align-content: flex-start;
}
/*h3.me {
    display: flex;
    grid-column: 3/span 2;
    grid-row: 1;
    font-family: cursive;
    color: #415466
}

p.me{
    display:flex;
    grid-row:1;
    grid-column:2/span 7;
    font-family:cursive;
     text-align:center;
     color: #415466

    
}
/*styling for the nav bar*/

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    justify-content: space-around;
}

a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    font-family: cursive;
    font-size: large;
    color: darkblue;
}

/*styling for nav bar*/

section.grid-item-2 {
    display: flex;
    flex-direction: column;
    grid-column: 1 / span2;
    justify-content: flex-start;
    background-color: snow;
    color: #83a9cc;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'segoe ui';
}

.nav {
    height: 50px;
    width: 100%;
    background-color: #83a9cc;
    position: relative;
}

    .nav > .nav-header {
        display: inline;
    }

        .nav > .nav-header > .nav-title {
            display: inline-block;
            font-family: cursive;
            font-size: 22px;
            color: #fff;
            padding: 10px 10px 10px 10px;
        }

    .nav > .nav-btn {
        display: none;
    }

    .nav > .nav-links {
        display: inline;
        float: right;
        font-size: 18px;
    }

        .nav > .nav-links > a {
            display: inline-block;
            padding: 13px 10px 13px 10px;
            text-decoration: none;
            color: #efefef;
        }

            .nav > .nav-links > a:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

    .nav > #nav-check {
        display: none;
    }

@media (max-width:600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

        .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
        }

            .nav > .nav-btn > label:hover {
                background-color: rgba(0, 0, 0, 0.3);
            }

            .nav > .nav-btn > label > span {
                display: block;
                width: 25px;
                height: 10px;
                border-top: 2px solid #eee;
            }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: darkblue;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

        .nav > .nav-links > a {
            display: block;
            width: 100%;
        }

    .nav > #nav-check:not(:checked) + .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked + .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

section.grid-item-6 {
    display: flex;
    grid-column: 5;
    grid-row: 5;
    justify-content: center;
    color: #415466;
    font-family: cursive;
    font-weight: bold;
}

section.grid-item-1 {
    display: flex;
    grid-row: 5;
    background-color: #a4d4ff;
}

h3#skills {
    font-family: cursive;
    text-align: center;
}

/*div.card-footer{
    display:flex;
    height:130px;
    width:286px;
}*/

img.img-thumbnail{
    margin-top:10px;
    margin-bottom:10px;
}


h3#projects {
    font-family: cursive;
    text-align: center;
}

p#project1{
    text-align:left;
}